* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  width: 500px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: black;
  margin-inline: 15px;
  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.link-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.licensesBlock {
  display: flex;
}

.licensesBlock span {
  margin-inline: 10px;
}

.userBlock {
  margin-bottom: 50px;
}